<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Hobby:</strong>
    <%= user.hobby %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= user.grade %>
  </p>

</div>
