<% if notice %>
  <div class="bg-green-200 border-green-600 text-green-600 border-l-4 p-4 mb-8" role="alert">
      <p class="font-bold">
          Success
      </p>
      <p>
         <%= notice %>
      </p>
  </div>
<% end %>


<div class="flex justify-around">
  <div>
    <%= render @user %>
  </div>
  <div class="px-8">
    <%= render "form", user: @user %>
  </div>
</div>

<div class="absolute left-0 p-4 overflow-x-scroll overflow-y-scroll max-width-100vw">
  <h1 class="text-gray-200">Bitemporal data table</h2>
  <%= render "bitemporal", bitemporal: @bitemporal, bitemporal_within_deleted: @bitemporal_within_deleted, bitemporal_ignore_valid_datetime: @bitemporal_ignore_valid_datetime %>
</div>